ion-toolbar {

    ion-buttons{
        width: 100%;

        ion-avatar {
            width: 35px;
            height: 35px;

            display: inline-flex;
            align-items: center;
        }

        ion-icon {
            font-size: 2rem
        }
    }
    
}
