<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" class=" ion-justify-content-between">

        <ion-button>
          <ion-avatar>
            <img src="{{foto}}">
          </ion-avatar>
        </ion-button>

        <ion-title class="ion-text-center">Principal</ion-title>

        <ion-button>
          <ion-icon name="chatboxes"></ion-icon>
        </ion-button>

      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="d-align-items-center">
    <ion-grid>
  
      <ion-row class="img-ponto-interrogacao">
        <ion-col size="12">
          <img src="../../../assets/question-mark.png" alt="Ponto de interrogação">
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label color="medium" class="ion-text-center" text-wrap>
              Precisa de algum serviço doméstico?
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-button 
          color="secondary"
          shape="round"
          expand="block"
          (click)="abrirModal()"
          >
            Solicitar Serviços
          </ion-button>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </div>
  
</ion-content>
