<ion-header>
  <ion-toolbar class="ion-padding-start ion-padding-end" color="primary">
      <ion-buttons slot="start" class=" ion-justify-content-between">

        <ion-button>
          <ion-avatar>
            <img src="https://randomuser.me/api/portraits/women/1.jpg">
          </ion-avatar>
        </ion-button>

        <ion-title class="ion-text-center">Principal</ion-title>

        <ion-button>
          <ion-icon name="chatboxes"></ion-icon>
        </ion-button>

      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content> 
  
</ion-content>
