<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="procurar-contrato">
      <ion-icon name="search"></ion-icon>
      <ion-label>Procurar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="principal">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="configuracao">
      <ion-icon name="options"></ion-icon>
      <ion-label>Configuração</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>