<app-header nomePagina="Serviços"></app-header>

<ion-content>

  <ion-list lines="inset">

    <ion-item *ngFor="let contrato of contratos" [routerLink]="['/detalhe', contrato.id]" >
      <ion-avatar slot="start">
        <img [src]="contrato.usuarios[0].foto ? contrato.usuarios[0].foto : '/assets/anon_img.png'" />
      </ion-avatar>
      <ion-label>
        <h2> {{ contrato?.descricao | descricaoCurta }} </h2>
        <h5 color="medium">
          <ion-icon name="map-outline"></ion-icon>
          {{ contrato?.distancia | distanciaFormatada }}
        </h5>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>