ion-toolbar {

    padding-right: 16px;
    padding-left: 16px;

    ion-buttons{
        width: 100%;

        ion-avatar {
            width: 35px;
            height: 35px;            
        }

        ion-icon {
            font-size: 2rem;
        }
    }

}


ion-content {

    ion-list {
        width: 100%;
        ion-text {
            width: 100%;
        }
    }

    ion-textarea {
        font-size: 20px;
        --padding-bottom:10rem;
    }

    p {
        font-size: 20px;
    }
}