<ion-content fullscreen class="vertical-align-content">

  <div class="div-fora">
    <div class="div-dentro">

      <ion-list lines="none" >
        <ion-item>
          <ion-input type="text" placeholder="Login"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-list>
    
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button
            expand="block"
            shape="round">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12">
            <ion-button 
            fill="outline"
            expand="block"
            shape="round"
            routerLink="/cadastro"
            routerDirection="forward">
              Cadastre-se
            </ion-button>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label class="ion-text-center">Feito por Leonardo Bonfim</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>
