<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="usuarioForm" (ngSubmit)="usuarioSubmit(usuarioForm.value)">
    
    <ion-list>
      <ion-item>
        <ion-label color="primary" position="stacked">
          Nome <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
        required
        type="text"
        formControlName="nome"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label color="primary" position="stacked">
          Sobrenome
        </ion-label>
        <ion-input
        type="text"
        formControlName="sobrenome"
        ></ion-input>
      </ion-item>
      
      <ion-radio-group formControlName="sexo">
        <ion-item lines="none">
          <ion-label class="label-placeholded">Masculino</ion-label>
          <ion-radio value="M"></ion-radio>
        </ion-item>
        <ion-item lines="full">
          <ion-label class="label-placeholded">Feminino</ion-label>
          <ion-radio value="F"></ion-radio>
        </ion-item>
      </ion-radio-group>
  
      <ion-item>
        <ion-label color="primary" position="stacked">
          CPF <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
        required
        type="text"
        formControlName="cpf"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label color="primary" position="stacked">Endereço</ion-label>
        <ion-input formControlName="cep" type="text" placeholder="CEP" class="ion-margin-top"></ion-input>
        <ion-input formControlName="logradouro" type="text" placeholder="Logradouro"></ion-input>
        <ion-input formControlName="numero" type="text" placeholder="Número"></ion-input>
        <ion-input formControlName="uf" type="text" placeholder="UF"></ion-input>
        <ion-input formControlName="cidade" type="text" placeholder="Cidade"></ion-input>
        <ion-input formControlName="bairro" type="text" placeholder="Bairro"></ion-input>
        <ion-label color="primary" position="stacked">Complemento</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      
      <ion-item>
        <ion-label color="primary" position="stacked">
          Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
        type="text"
        formControlName="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label color="primary" position="stacked">
          Senha <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
        type="text"
        formControlName="senha"></ion-input>
      </ion-item>
  
      <ion-button
      class="ion-margin-top"
      color="{{ buttonImagemCor }}"
      type="button"
      expand="block"
      shape="round"
      size="default"
      (click)="pegarFoto()">
        <ion-icon name="image"></ion-icon>
      </ion-button>
  
      <!-- <ion-item lines="full">
        <ion-textarea
        readonly>
          Termos de serviço:
        </ion-textarea>
      </ion-item> -->
  
    </ion-list>

    <ion-button
    type="submit"
    expand="block"
    class="ion-margin-top ion-margin-bottom"
    >
      Cadastrar
    </ion-button>
  </form>


</ion-content>
